<h1>収録曲入力画面</h1>

<p>フォーム作成</p>
<%= form_tag(new_admin_product_song_path(params[:product_id]),:method => 'get') do %>
  <%= label_tag :what_disc_number, "ディスク番号" %>
  <%= number_field_tag :what_disc_number %>
  <%= label_tag :what_track_number, "何曲作りますか？" %>
  <%= number_field_tag :what_track_number %>
  <%= submit_tag 'フォーム作成', :name => nil %>
<% end %>


<% if @edit_song %>
  <%= form_with(model: @edit_song, url: admin_product_song_path(product_id: params[:product_id], id: @edit_song)) do |f| %>
    <table>
      <caption>収録曲入力フォーム</caption>
      <thead>
        <tr>
          <th><%= f.label :disc_number, "ディスク番号" %></th>
          <th><%= f.label :track_number, "曲数" %></th>
          <th><%= f.label :song, "曲名" %></th>
        </tr>
      </thead>
      <tbody>
            <tr>
              <td><%= f.number_field :disc_number %></td>
              <td><%= f.number_field :track_number %></td>
              <td><%= f.text_field :song %></td>
            </tr>
      </tbody>
    </table>
    <%= f.submit "編集" %>
  <% end %>
<% end %>


<% if @what_track_number %>

  <p>10曲ずつ登録可能です</p>
  <%= form_with(model: @new_song, url: admin_product_songs_path(product_id: params[:product_id])) do |f| %>
    <table>
      <caption>収録曲入力フォーム</caption>
      <thead>
        <tr>
          <th><%= f.label :disc_number, "ディスク番号" %></th>
          <th><%= f.label :track_number, "曲数" %></th>
          <th><%= f.label :song, "曲名" %></th>
        </tr>
      </thead>
      <tbody>
          <% 1.upto(@what_track_number) do |n| %>
            <% @new_song.track_number = n %>
            <% next if @songs.find_by(disc_number: @new_song.disc_number, track_number: n) %>
            <tr>
              <td><%= f.number_field :disc_number, name: "song[][disc_number]"%></td>
              <td><%= f.number_field :track_number, name: "song[][track_number]" %></td>
              <td><%= f.text_field :song, name: "song[][song]" %></td>
            </tr>
            <% end %>
        
      </tbody>
    </table>
      <%= f.submit "追加" %>
    <% end %>
<% end %>



<% if @songs.where(id: true) %>
  <table>
    <caption>一覧</caption>
    <thead>
      <tr>
        <th>ディスク番号</th>
        <th>曲順</th>
        <th>曲名</th>
        <th>削除</th>
      </tr>
    </thead>
    <tbody>
        <% @songs.each do |song| %>
          <tr>
              <td><%= song.disc_number %></td>
              <td><%= song.track_number %></td>
              <td><%= link_to "#{song.song}", edit_admin_product_song_path(product_id: params[:product_id], id: song.id) %></td>
              <td>
                <%= link_to "削除", admin_product_song_path(product_id: params[:product_id], id: song.id), method: :delete, 
                "data-confirm" => "削除してよろしいですか？" %>
              </td>
          </tr>
        <% end %>
    </tbody>
  </table>
<% end %>

