<h1>収録曲入力画面</h1>




<%= form_with(model: @new_song, url: admin_songs_path) do |f| %>
  <%= f.label :disc_number, "ディスク番号" %>
  <%= f.text_field :disc_number, name: "song[][disc_number]"%>
  <%= f.label :track_number, "曲数" %>
  <%= f.text_field :track_number, name: "song[][track_number]" %>
  <%= f.label :product_id, "商品ID" %>
  <%= f.text_field :product_id, name: "song[][product_id]" %>
  <%= f.label :song, "曲名" %>
  <%= f.text_field :song, name: "song[][song]" %>
  <%= f.label :disc_number, "ディスク番号" %>
  <%= f.text_field :disc_number, name: "song[][disc_number]"%>
  <%= f.label :track_number, "曲数" %>
  <%= f.text_field :track_number, name: "song[][track_number]" %>
  <%= f.label :product_id, "商品ID" %>
  <%= f.text_field :product_id, name: "song[][product_id]" %>
  <%= f.label :song, "曲名" %>
  <%= f.text_field :song, name: "song[][song]" %>
 <%= f.submit "追加" %>





<% end %>

<table>
	<caption>一覧</caption>
	<thead>
		<tr>
			<th>header</th>
		</tr>
	</thead>
	<tbody>
			<% @songs.each do |song| %>
			　　<tr>
			　　　　<td><%= song.song %></td>
			　　</tr>
			<% end %>
	</tbody>
</table>
