<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
<h1 class="text-center">受注履歴一覧</h1>

<% @orders.each do |order| %>
<div class="row">
<div class="col-md-10 col-md-offset-1 one_order">

  

　　<table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>タイトル</th>
        <th>アーティスト名</th>
        <th>価格（税別）</th>
        <th>購入枚数</th>
      </tr>
    </thead>
    <tbody>
      <% order.order_products.each do |order_product| %>
        <tr>
          <td><%= attachment_image_tag order_product.product, 
              :image, format: 'jpg', fallback: 'no_image.jpg', size: '30x30'  %>
          </td>
          <td><%= order_product.product.title %></td>
          <td><%= order_product.product.id %></td>
          <td><%= number_to_currency(order_product.price, precision: 0) %></td>
          <td><%= order_product.order_amount %></td> 
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= "お客様氏名 #{order.user.first_name} #{order.user.last_name} 様" %><br>

   <%= "ステータス #{order.order_status_id}" %><br>
    <%= "購入枚数 #{order.order_products.sum(:order_amount)}" %><br>
    <%= "合計金額: #{number_to_currency(order.total_price_except_tax, precision: 0)}" %><br>
    <%= link_to("受注履歴詳細", admin_order_path(order)) %>
    </div>
       </div>
<% end %>

</div>
</div>
</div>