
<h1>住所登録画面</h1>

<%= current_user.addresses.last(2).first.delivery_name %>
<section>
  <%= form_with(model: @new_address, url: addresses_path) do |f| %>
    <p>新規住所登録フォーム</p>
      <p>お届け先氏名</p>
      <p>ふりがな</p>
      <%= f.text_field :delivery_name,name: "address[delivery_name][]" %><br>
      <p>氏名</p>
      <%= f.text_field :delivery_name,name: "address[delivery_name][]" %><br>
      <p>郵便番号</p>
      <%= f.text_field :delivery_postal_code %><br>
      <p>住所</p>    <%= f.text_field :delivery_address %><br>
      <p>こちらのご住所にお住まいですか？</p>
      <%= f.select :delivery_address_flag, Address.delivery_address_flags.keys %> 
    <%= f.submit "登録" %>
  <% end %>
</section>

