<div class="container">
		<div class="row">
　　　　　　<div class="col-lg-1">

　　　　　<% if flash[:notice] %>
　　　　　　<%= flash[:notice] %>
　　　　　<% end %>

<h2>カート 合計金額: <%= current_user.total_price %>円(税込)</h2>


<table class="table table-hover">
	<tr>
		<th>ジャケ写</th>
		<th>タイトル</th>
		<th>アーティスト</th>
		<th>値段</th>
		<th>ステータス</th>
		<th>個数</th>

	</tr>
		<% @cart_items.each do |item| %>
		<tr>
			<td><%= attachment_image_tag item.product , :image, format: 'jpg',fallback: 'no_image.jpg', size: '30x30'  %> </td>
			<td> <%= item.product.title %> </td>
			<td>    </td>
			<td> <%= item.product.tax_include_price %>円</td>
			<td> <%= item.product.product_status_id %></td>
			 <td><%= form_for(item) do |f|   %>
				<%= f.select :product_amount, 1..item.product.amount %>
				<%= f.submit "変更" %>
				<%end%>
			</td> 
			<td> <%= link_to "X", cart_item_path(item), method: :delete, data: {confirm: "消すよん"} %>
		</tr>
		<%end%>

		<td> <%= link_to "購入へ進む", new_order_path(current_user) %> </td>
