<h1>商品編集(管理者)</h1>
	<% if  @product.image %>
			<%= attachment_image_tag @product, :image, :fill, 30, 30, format: 'jpeg' %>
	<% end %>
<div>
<%= form_for(@product, url:admin_product_path, html:{method: 'patch'}) do |f| %>

	  	<%= f.attachment_field :image %>

	
	<p>タイトル</p>
	  <%= f.text_field :title %>
	<p>アーティスト名</p>
	
	<p>ジャンル</p>
	  
	 <p>レーベル</p>
	 
	<p>価格</p>
	  <%= f.text_area :price %>
	<p>在庫</p>
	 　<%= f.text_area :amount , name: "products[][amount]"%>
	 	<p>販売状況</p>
   <%= f.select  :product_status_id, Product.product_status_ids.keys %>


	<%= f.submit "追加する" %>
<% end %>

