
<div class="container">
  <div class="row">
  
    </div>

    <div class="col-lg-12">
      
      <h1>商品一覧(管理者)</h1>

        <table class="table table-hover">
        <thead>

         <tr>
            <td>ジャケ写</td>
            <td>タイトル</td>
            <td>アーティスト</td>
            <td>ジャンル</td>
            <td>レーベル</td>
            <td>CDシングル</td>
            <td>価格</td>
            <td>在庫</td>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td>
               <% if  product.image %>
                <%= attachment_image_tag product, :image, :fill, 30, 30, format: 'jpeg' %>
              <% end %>
              </td>

               <td><%= link_to admin_product_path(product.id) do %>

               <%= product.title %></td>

               <td><%= product.single_album_flag %></td>
                <% product.artists.each do |f| %>
                <td><%= f.name  %></td>
                <% end %>

               <td><%= product.label.name %></td>
                <% product.genres.each do |f| %>
                <td><%= f.name  %></td>
               <% end %>
               <td> <%= product.price %></td>

               <td> <%= product.price %></td>

               <td> <%= product.amount %></td>

               <td> <%= product.product_status_id %></td>
              <% end %>
              </td>                
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>
</div>
