<h1>商品情報入力フォーム(管理者)</h1>
<%= form_for([:admin,@products]) do |f| %>
<p>ジャケット写真</p>
	<%= f.attachment_field :image %>

	<%= f.submit "ジャケット写真登録" %>
<p>タイトル</p>
  <%= f.text_field :title %>
<p>アーティスト</p>
 
<p>ジャンル</p>
  
<p>レーベル</p>
  <%= f.number_field :label_id %>
<p>CDシングル</p>
  
 <p>価格</p>
  <%= f.text_area :price %>


  <p>在庫</p>
   <%= f.number_field  :amount %> 


   <p>販売状況</p>
   <%= f.select  :product_status_id, Product.product_status_ids %> 

<%= f.submit "登録" %>
  
<% end %>
