<div class="container">
  <div class="row">
  
    </div>

    <div class="col-lg-12">
      
      <h1>商品詳細(管理者)</h1>


      <table class="table table-hover">
        <thead>


         <tr>
           　<th>ジャケ写</th>
            <th>タイトル</th>
            <th>アーティスト</th>
            <th>シングル</th>
            <th>レーベル名</th>
            <th>ジャンル</th>
            <th>在庫状況</th>
            <th>値段(税抜)</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              　　<td>
                  <% if  @products.image %>
                  <%= attachment_image_tag @products, :image, :fill, 30, 30, format: 'jpeg' %>
                <% end %>
                </td>
                <td><%= @products.title %></td>


               

                <td><%= @products.single_album_flag %></td>
                    <% @products.artists.each do |f| %>
                    <td><%= f.name  %></td>
                <% end %>

                <td><%= @products.label.name %></td>
                <% @products.genres.each do |f| %>
                <td><%= f.name  %></td>
                <% end %>

               


                <td><%= @products.amount %></td>
                <td><%= @products.price %></td>
                <td><%= @products.product_status_id %></td>
              
              </tr>
        </tbody>

      </table>

        <%= link_to "編集", edit_admin_product_path
       %>
        <%= link_to("削除", admin_product_path(@products.id), method: "delete") %>
    </div>

  </div>
</div>