<div class="container">
  <div class="row">
  
    </div>

    <div class="col-lg-12">
      
      <h1>商品詳細(管理者)</h1>

      

         <tr>
            <th>タイトル</th>
            <th>アーティスト</th>
            <th>ジャンル</th>
            <th>レーベル</th>
            <th>CDシングル</th>
            <th>価格</th>
            <th>在庫</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>
              <td>
                <% if  product.image %>
                <%= attachment_image_tag product, :image, :fill, 30, 30, format: 'jpeg' %>
              <% end %>
                <td><%= @products.title %></td>
                <td><%= @products.price %></td>
                <td><%= @products.amount %></td>
                <td><%= @products.product_status_id %></td>
              </td>
              <td>
                
              </td>                
            </tr>
        </tbody>
      
        <%= link_to '編集',edit_admin_product_path(@products.id) %>
    </div>

  </div>
</div>