
<h1>購入確認ページ</h1>

<% if current_user.addresses %>
<%# チェックボックスは最終的にJQueryでどれか一つをチェックすると、先につけたチェックを外すしようにする予定です %>
  <p>ご登録済みの住所を使いますか？</p>
  <%= form_tag(new_order_path, method: 'get') do %>
  　<% @addresses.each do |address| %>
      <div class="check_box_tag">
        <%= check_box_tag :to_create_order, address.id %>
        <%= address.delivery_name %><br>
        <%= address.delivery_postal_code %><br>
        <%= address.delivery_address %><br>
      </div>
    <% end %>

    <%= submit_tag "この住所を使う" %>
  <% end %>
<% end %>

<div>
<%= form_with(model: @new_order) do |f| %>
  <%= f.label :delivery_name_kana, "フリガナ" %>
  <%= f.text_field :delivery_name_kana %><br>
  <%= f.label :delivery_name, "お名前" %>
  <%= f.text_field :delivery_name %><br>
  <%= f.label :delivery_postal_code, "郵便番号" %>
  <%= f.text_field :delivery_postal_code %><br>
  <%= f.label :delivery_address, "ご住所" %>
  <%= f.text_field :delivery_address %><br>
  <%= f.label :payment_method, "お支払い方法" %>
  <%= f.select :payment_method, Order.payment_methods.keys %><br>
  <span>送料 </span><%= @new_order.postage %>
  <%= f.fields_for :order_products do |ff| %>
    <%= ff.number_field :product_id, readonly: true %>
    <%= ff.number_field :order_amount, readonly: true %>
    <%= ff.number_field :price, readonly: true %>



<% end %>
order_id...ordersテーブルから引っ張ってくる
product_id...cart_itemから引っ張ってくる。cart_items.product_id
order_amount...cart_itemから引っ張ってくる。cart_items.product_amount
price...cart_itemから引っ張ってくる

<%= f.submit %>






<% end %>
</div>

postage...
...selectで選択
order_status_flag...defaultで受付中、入力させない
total_price...current_user.cart_itemsから引っ張ってきた情報で計算したものを出す
created_at...自動作成
updated_at...自動作成

@orderをcreate後に作成。
＠order_products
id...自動作成
order_id...ordersテーブルから引っ張ってくる
product_id...cart_itemから引っ張ってくる。cart_items.product_id
order_amount...cart_itemから引っ張ってくる。cart_items.product_amount
price...cart_itemから引っ張ってくる
created_at
updated_at



cart_items
id
user_id
product_id
product_amount
created_at
updated_at

