
<h1>購入確認ページ</h1>

<% if current_user.addresses %>
<%# チェックボックスは最終的にJQueryでどれか一つをチェックすると、先につけたチェックを外すしようにする予定です %>
  <p>ご登録済みの住所を使いますか？</p>
  <%= form_tag(new_order_path, method: 'get') do %>
  　<% @addresses.each do |address| %>
      <div class="check_box_tag">
        <%= check_box_tag :to_create_order, address.id %>
        <%= address.delivery_name %><br>
        <%= address.delivery_postal_code %><br>
        <%= address.delivery_address %><br>
      </div>
    <% end %>

    <%= submit_tag "この住所を使う" %>
  <% end %>
<% end %>

<div>
<%= form_with(model: @new_order) do |f| %>
  <%= f.label :delivery_name_kana, "フリガナ" %>
  <%= f.text_field :delivery_name_kana %><br>
  <%= f.label :delivery_name, "お名前" %>
  <%= f.text_field :delivery_name %><br>
  <%= f.label :delivery_postal_code, "郵便番号" %>
  <%= f.text_field :delivery_postal_code %><br>
  <%= f.label :delivery_address, "ご住所" %>
  <%= f.text_field :delivery_address %><br>
  <%= f.label :payment_method, "お支払い方法" %>
  <%= f.select :payment_method, Order.payment_methods.keys %><br>
  <span>送料 </span><%= @new_order.postage %>
  <%= f.label :total_price, "価格総計（税込）" %>
  <%= f.number_field :total_price, readonly: true %><br>

  <%= f.fields_for :order_products do |ff| %>
    <%= ff.number_field :product_id, readonly: true %>
    <%= ff.number_field :order_amount, readonly: true %>
    <%= ff.number_field :price, readonly: true %>



<% end %>

<%= f.submit %>






<% end %>
</div>
