
<h1>購入確認ページ</h1>

<p>購入者氏名</p>
<%= current_user.first_name + current_user.last_name %>


<table>
  <thead>
    <tr>
      <th>氏名</th>
      <th>郵便番号</th>
      <th>ご住所</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <th><%= address.delivery_name %></th>
        <th><%= address.delivery_postal_code %></th>
        <th><%= address.delivery_address %></th>
        <th><%= address.delivery_address_flag %></th>
      </tr>
    <% end %>
  </tbody>
</table>

