<h2>ユーザー詳細(管理者)</h2>

<table border="1"> 
	<tr>
		<td>オナマエ</td>
		<td><%= @user.first_name_kana + @user.last_name_kana %></td>
	</tr>
	<tr>
		<td>お名前</td>
		<td><%= @user.first_name + @user.last_name %></td>
	</tr>
	<tr>
		<td>ご住所</td>
		<td><% if @addresses != nil %>
			<%= @addresses.delivery_postal_code %>
			<%= @addresses.delivery_address %>
			 <% else %>
			 未登録</td>
			<%end%>
		</td>
	</tr>
	<tr>
		<td>ご住所</td>
		<td>
			<% if @sub_addresses != nil %>
			<% @sub_addresses.each do |f| %>
			<%= f.delivery_postal_code %>
			<%= f.delivery_address %>
			<%end%>
			<%else%>
			未登録</td>
			<%end%>
		</td>
		<tr>
		<td>お電話番号</td>
		<td><%= @user.phone_number %></td>
	</tr>
	<tr>
		<td>メールアドレス</td>
		<td><%= @user.email %></td>
	</tr>