<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <h1>CD買え〜るの商品一覧</h1>
          <% @products.each do |product| %>
              <% if  product.image %>
              <p> <div class = "productbox"><%= attachment_image_tag product, :image, :fill, 150, 150, format: 'jpeg' %></p>
              <% end %>

                <p><%= product.title %></p>
                <% product.artists.each do |f| %>
                <p><%= f.name  %></p>
                <% end %>
                <p><%= product.price %>円</p>
                <p><%= product.amount %>枚</p>
                <p><%= product.product_status_id %></p>
                <p><%= link_to '商品詳細',product_path(product)%></p>

         <p> <div id="likes_partial_<%= product.id %>"><%= render partial: 'public/likes/like',locals: {products: product} %></p>
              </div>
            </div>
          <% end %>
    </div>
  </div>
</div>
