<div class="top">
<div class="container">
  <div class = "row">
    <div class="col-lg-12">

      <hi>CD買え〜るの商品一覧</hi>
    <%= form_tag(products_search_path,:method => 'get') do %>
      <%= text_field_tag :search %>
      <%= submit_tag 'Search', :name => nil %>
    <% end %>

          <% @products_all.each do |product| %>
                <% if  product.image %>
                  <p> <div class = "productbox"><%= attachment_image_tag product, :image, :fill, 150, 150, format: 'jpeg' %></p>
          <% end %>
                  <p><%= product.title %></p>
          <% product.artists.each do |f| %>
                  <p><%= f.name %><br></p>
          <% end %>
              <%= number_to_currency(product.tax_include_price, unit: "¥", precision: 0) %>
                  <p><%= product.amount %>枚</p>
          <%= product.product_status_id %>
                <div data-turbolinks="false">
                  <p> <%= link_to '商品詳細',product_path(product.id) %></p>
                </div>


             <div id="likes_partial_<%= product.id %>"><%= render partial: 'public/likes/like',locals: {products: product} %>
              </div>
            </div>
          <% end %>
      <%= paginate @products_all %>
  </div>
  </div>