<div class="container">
		<div class="row">
　　　　　　<div class="col-lg-1">

<h1>商品詳細</h1>
<%= form_for(@products) do |f| %>
 <tr>
<p>シャケット写真</p>
  <%= f.text_field :image %>
<p>タイトル</p>
  <%= f.text_field :title %>
<p>アーティスト名</p>
  <%= f.text_field :artist %>
<p>ジャンル名</p>
  <%= f.text_area :genre_id %>
<p>値段(税別)</p>
  <%= f.text_area :price %>
<p>ステータス</p>
 　<%= f.text_area :status %>
<p>在庫</p>
 　<%= f.text_area :amount %>
</tr>

<%= link_to product_path(product.id) do %>



<% end %>