<h1>商品詳細</h1>

<table class="table table-hover">
        <thead>

			　　　<tr>
		            <th>タイトル</th>
		            <th>アーティスト</th>
		            <th>ジャンル</th>
		            <th>レーベル</th>
		            <th>CDシングル</th>
		            <th>価格</th>
		            <th>在庫</th>
          　　　　　</tr>
　　　　　　　</thead>
 　　　　　　　　　　　　　<% if  @products.image %>
                <%= @product.image_id %>
                <% end %>
                <td><%= @products.title %></td>
                <td><%= @products.price %></td>
                <td><%= @products.amount %></td>
                <td><%= @products.product_status_id %></td>

　　　　　　　 <td> <%= link_to 'カートに入れる',product_cart_items_path(@products),method: :post%></td>