
<h1>商品詳細</h1>

<table class="table table-hover">
        <thead>

<<<<<<< HEAD
			  　<tr>
=======
			　　　<tr>
                <th>ジャケ写</th>
>>>>>>> ea0cff79610b4660b9c1e62aae8ef66d76692a36
		            <th>タイトル</th>
		            <th>アーティスト</th>
		            <th>レーベル</th>
<<<<<<< HEAD
		            <th>CDシングル</th>
		            <th>価格</th>
		            <th>在庫</th>
          　   </tr>
      　</thead>
 　             <td><% if  @products.image %>
                <%= attachment_image_tag @products, :image, :fill, 30, 30, format: 'jpeg' %>
              <% end %></td>
=======
                <th>ジャンル</th>
		            <th>在庫数</th>
                <th>ステータス</th>
		            <th>価格(税込)</th>
		      </tr>
　　　　　　　</thead>
 　　　　　　　　　　　　　<td>
                  <% if  @products.image %>
                    <%= attachment_image_tag @products, :image, :fill, 30, 30, format: 'jpeg' %>
                  <% end %>
                
                </td>
>>>>>>> ea0cff79610b4660b9c1e62aae8ef66d76692a36
                <td><%= @products.title %></td>
                <td><%= @products.artists.all.name %></td>
                <td><%= @products.label %></td>
                <td><%= @products.genres.all.name %></td>
                <td><%= @products.amount %></td>
                <td><%= @products.product_status_id %></td>
                <td><%= @products.price %></td>
                <td>
                	<% if @products.liked_by?(current_user) %>
                    <%= link_to product_like_path(@products),method: :delete do %>
                      <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
                      <%= @products.likes.count %> いいね
                    <% end %>
                  <% else %>
                    <%= link_to product_likes_path(@products),method: :post do %>
                      <i class="fas fa-heart" aria-hidden="true"></i>
                      <%= @products.likes.count %> いいね
                    <%end%>
                <%end%>
          　 <td> <%= link_to 'カートに入れる',product_cart_items_path(@products),method: :post%></td>
            <td>
            </td>
</table>
<div class="first-review">
  <div class="first-review-name">
    <% if @reviews.any? %>
      <%= @reviews.last.user.first_name + @reviews.last.user.last_name %>
  </div>
    <% if @reviews.any? && current_user.id == @reviews.last.user_id %>
      <span><%= link_to '×',product_review_path(@products,@reviews.last.user_id),method: :delete %>
    <%end%>
      </span>
  <div class="first-review-review">
    <%= @reviews.last.review %>
  </div>
</div>
<%end%>
</div>
</div>
<div>
<button class="total-review-button">もっと見る</button>
</div>
<div class="total-review" style="display:none">
<% @reviews.each do |f| %>
<%= f.user.first_name + f.user.last_name %>
<div>
  <%= f.review %>
</div>
<% if f.user_id = current_user.id %>
<%= link_to '×',product_review_path(@products,f.id),method: :delete %>
<%end%>
<% end %>
</div>
<button class="review-button">レビュー投稿</button>
              <div class="review-content" style="display:none">
              	<%= form_for [@products,@review] do |f| %>
				        <%= f.text_area :review %>
				        <%= f.submit '投稿' %>
		            <%end%>
              </div>
