<h1>商品詳細</h1>

<table class="table table-hover">
        <thead>

			　　　<tr>
		            <th>タイトル</th>
		            <th>アーティスト</th>
		            <th>ジャンル</th>
		            <th>レーベル</th>
		            <th>CDシングル</th>
		            <th>価格</th>
		            <th>在庫</th>
          　　　　　</tr>
　　　　　　　</thead>
 　　　　　　　　　　　　　<td><% if  @products.image %>
                <%= attachment_image_tag @products, :image, :fill, 30, 30, format: 'jpeg' %>
              <% end %></td>
                <td><%= @products.title %></td>
                <td><%= @products.price %></td>
                <td><%= @products.amount %></td>
                <td><%= @products.product_status_id %></td>

　　　　　　　 <td> <%= link_to 'カートに入れる',cart_items_path,method: :post%></td>