
<div class="container">
    
　　　　　　

  <h1>商品詳細</h1>

  <table class="table table-hover">
    <thead>
	    <tr>
        <th>ジャケ写</th>
        <th>CDシングル</th>
        <th>アーティスト</th>
        <th>タイトル</th>
        <th>レーベル</th>
        <th>ジャンル</th>
        <th>在庫</th>
        <th>ステータス</th>
        <th>価格</th>
      </tr>
    </thead> 
    <tbody>
      <tr>
        <td>
          <% if  @products.image %>
            <%= attachment_image_tag @products, :image, :fill, 30, 30, format: 'jpeg' %>
          <% end %>
        </td>
        <td><%= @products.single_album_flag %></td>
        <td>
          <% @products.artists.each do |f| %>
            <%= f.name %><br>
          <% end %>
        </td>
        <td><%= @products.title %></td>
        <td><%= @products.label.name %></td>
        <td>
          <% @products.genres.each do |f| %>
            <%= f.name %><br>
          <% end %>
        </td>        
        <td><%= @products.amount %></td>
        <td><%= @products.product_status_id %></td>
        <td><%= number_to_currency(@products.tax_include_price, unit: "¥", precision: 0) %></td>
      </tr>
    </tbody>        
  </table>


<table class="table table-hover">
    <thead>
      <tr>
        <th>ディスク番号</th>
        <th>曲順</th>
        <th>曲名</th>
      </tr>
    </thead>
    <tbody>
        <% @products.songs.each do |song| %>
          <tr>
              <td><%= song.disc_number %></td>
              <td><%= song.track_number %></td>
              <td><%=  "#{song.song}" %></td>
          </tr>
        <% end %>
    </tbody>
  </table>









    <table class="table table-hover">


    <td><%= @products.product_status_id %></td>


<% if current_user.present? %>

<% if @products.product_status_id_before_type_cast == 0 %>

                  <%= form_with(model: @new_cart_item, url: product_cart_items_path(@products), method: "post") do |f| %>
                    <% f.hidden_field :product_id, value: @new_cart_item.product_id %>
                    <%= f.select :product_amount, 1..@products.amount %>
                    <%= f.submit "カートに入れる" %>
                  <% end %>
<% end %>
<% end %>

              
</table>

<div id="likes_partial_<%= @products.id %>"><%= render partial: 'public/likes/like',locals: {products: @products} %>
</div>
<% if current_user.present? %>
<div class="first-review">
  <div class="first-review-name">
    <% if @reviews.any? %>
      <span class="glyphicon glyphicon-user"></span>
      <%= @reviews.last.user.first_name + @reviews.last.user.last_name %>
  </div>
  <div class="first-review-review">
    <%= @reviews.last.review %>
  </div>
    <% if @reviews.any? && current_user.id == @reviews.last.user_id %>
      <span class="review">
        <%= link_to 'レビューを削除',product_review_path(@products,@reviews.last.id),method: :delete %></span>
    <%end%>
      </span>
  
</div>
<%end%>
</div>
</div>
<div>
<button class="total-review-button">もっと見る</button>
</div>
<div class="total-review" style="display:none">
<% @reviews.each do |f| %>
<p><span class="glyphicon glyphicon-user"></span>
<%= f.user.first_name + f.user.last_name %></p>
<div>
  <%= f.review %>
</div>
<% if f.user_id = current_user.id %>
<p> <%= link_to 'レビューを削除',product_review_path(@products,f.id),method: :delete %></p>
_______________________
<%end%>
<%end%>
</div>
<button class="review-button">レビュー投稿</button>
              <div class="review-content" style="display:none">
              	<%= form_for [@products,@review] do |f| %>
				        <%= f.text_area :review, :size=>"80x10" %>
				        <%= f.submit '投稿' %>
		            <%end%>
              </div>

            </tr>
          </th>
        </tr>
      </thead>
    </table>

<% end %>
<script>
  const reviewButton = document.querySelector('.review-button');
  const reviewContent = document.querySelector('.review-content');
  reviewButton.addEventListener('click',() => {
  reviewContent.style.display = 'block';
  });
// }

// window.onload = function(){
  const totalReview = document.querySelector('.total-review');
  const totalReviewButton = document.querySelector('.total-review-button');
  const firstReview = document.querySelector('.first-review');
  totalReviewButton.addEventListener('click',(event) => {



    if (totalReview.style.display === 'none'){
      totalReview.style.display = 'block';
      firstReview.style.display = 'none';
      totalReviewButton.innerHTML = 'しまう';
    }else{
      totalReview.style.display = 'none';
      firstReview.style.display = 'block';
      totalReviewButton.innerHTML = 'もっと見る';
    }
  });

</script>
