<div class="container">
		<div class="row">
			<div class="col-lg-9">
<h2>ユーザー編集画面</h2>

<%= form_for @user do |f| %>
<p>
	<%= f.label(:first_name_kana, "セイ") %>
	<%= f.text_field :first_name_kana %>
</p>
<p>
	<%= f.label(:last_name_kana, "メイ") %>
	<%= f.text_field :last_name_kana %>
</p>
<p>
	<%= f.label(:first_name, "姓") %>
	<%= f.text_field :first_name %>
</p>
<p>
	<%= f.label(:last_name,"名") %>
	<%= f.text_field :last_name %>
</p>
<p>
  <%= f.label :phone_number, "電話番号" %>
  <%= f.text_field :phone_number %>
</p>
<p>
  <%= f.label :email, "メールアドレス" %>
  <%= f.text_field :email %>
</p>
  <%= f.submit "登録" %>
 <%end%>

 <%= link_to "退会する", users_leave_path %>
</div>
</div>
</div>
