<div class="container">
		<div class="row">
　　　　　　<div class="col-lg-1">
<h3>プロフィール</h3>

<table border="1">
	<tr>
		<td>オナマエ</td>
		<td><%= current_user.first_name_kana + current_user.last_name_kana %></td>
	</tr>
	<tr>
		<td>お名前</td>
		<td><%= current_user.first_name + current_user.last_name %></td>
	</tr>
	<tr>
		<td>ご住所</td>
		<td><% if @addresses != nil %>
			<%= @addresses.delivery_postal_code %>
			<%= @addresses.delivery_address %>
			 <% else %>
			 未登録</td>
			<%end%>
		</td>
	</tr>
	<tr>
		<td>ご住所</td>
		<td>
			<% if @sub_addresses != nil %>
			<% @sub_addresses.each do |f| %>
			<%= f.delivery_postal_code %>
			<%= f.delivery_address %>
			<%end%>
			<%else%>
			未登録</td>
			<%end%>
		</td>
		<tr>
		<td>お電話番号</td>
		<td><%= current_user.phone_number %></td>
	</tr>
	<tr>
		<td>メールアドレス</td>
		<td><%= current_user.email %></td>
	</tr>
	<tr>
		<td>購入履歴</td>
		<td><%= link_to '購入履歴へ', orders_path(current_user) %></td>
	</tr>
</table>

<li class="">
	<%= link_to 'プロフィール編集', edit_user_path,class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
</li>
</div>
</div>
</div>