<div class="container">
		<div class="row">
　　　　　　<div class="col-lg-9">
<h3><span class="glyphicon glyphicon-user">
プロフィール</span>
</h3>

<table border="1">
	<tr>
		<td>
		<span class="glyphicon glyphicon-user">お名前</span>
		</td>
		<td><%= current_user.first_name_kana + current_user.last_name_kana %></td>
	</tr>
	<tr>
		<td>
		<span class="glyphicon glyphicon-user">お名前</span>
		</td>
		<td><%= current_user.first_name + current_user.last_name %></td>
	</tr>
	<tr>
		<td>
			<span class="glyphicon glyphicon-home" aria-hidden="true">ご住所
		</td>
		<td>
		<% if @addresses != nil && @addresses.delivery_address != '' %>
			<%= @addresses.delivery_postal_code %>
			<%= @addresses.delivery_address %>
			 <% else %>
			 未登録
			<%end%>
		</td>
	</tr>
	<tr>

		<td>
		<span class="glyphicon glyphicon-home" aria-hidden="true">ご住所</span>
		</td>
		<td>
			<% if @sub_addresses.first != nil %>
			<% @sub_addresses.each do |f| %>
			　　<%= f.delivery_postal_code %>
			　　<%= f.delivery_address %>
			<%end%>
			<%else%>
			未登録
			<%end%>
		</td>
		<tr>
		<td>
		<span class="glyphicon glyphicon-phone-alt" aria-hidden="true">お電話番号</span>
		</td>
		<td><%= current_user.phone_number %></td>
	</tr>
	<tr>
		<td>
		<span class="glyphicon glyphicon-envelope" aria-hidden="true">メールアドレス</span>
		</td>
		<td><%= current_user.email %></td>
	</tr>
	<tr>
		<td>
		<span class="glyphicon glyphicon-barcode" aria-hidden="true">購入履歴</span>
		</td>
		<td><%= link_to '購入履歴へ', orders_path(current_user) %></td>
	</tr>
</table>

	<%= link_to 'プロフィール編集', edit_user_path,class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>

</li>
<%= link_to '住所登録 / 変更',addresses_path %>
</div>
</div>
</div>