<!DOCTYPE html> 
<html>
  <head>
    <title>TapiokaNagano</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>



  <header class="navbar navbar-inverse">
  <div class="container">
  
    <nav class="nav navbar-nav navbar-left">
      <span class="navbar-brand">TapiokaNagano</span>
    </nav>

    <nav>
      <ul class="nav navbar-nav navbar-right">

        <% if user_signed_in? %>
              <li>
                <%= link_to "商品一覧", products_path(current_user.id),class:"glyphicon glyphicon-list-alt" %>
              </li>
              <li>
              <%= link_to "カート", cart_items_path, class:"glyphicon glyphicon-shopping-cart" %>
              </li>
              <li>
                <%= link_to "マイページ", user_path(current_user), class:"glyphicon glyphicon-user" %>
              </li>
              <li>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"glyphicon glyphicon-log-out" %>
              </li>

              　　<%= form_tag(products_search_path,:method => 'get') do %>
                <%= text_field_tag :search %>
                <%= submit_tag 'Search', :name => nil %>
            　　<% end %>


        <% elsif admin_signed_in?  %>
             


        　<li>
        　　　　<%= link_to "レーベル", admin_labels_path,class:"　　　glyphicon glyphicon-tags" %>
          </li>


          <li>
        　　　　<%= link_to "アーティスト", admin_artists_path,class:"　　　glyphicon glyphicon-font" %>
          </li>

          <li>
        　　　　<%= link_to "ジャンル", admin_genres_path,class:"　　　glyphicon glyphicon-record" %>
          </li>

          <li>
        　　　　<%= link_to "商品一覧", admin_products_path,class:"　　　glyphicon glyphicon-list-alt" %>
          </li>

          <li>
        　　　　<%= link_to "ユーザ一覧", admin_users_path,class:"　　　glyphicon glyphicon-user" %>
          </li>

          <li>
        　　　　<%= link_to "受注履歴一覧", admin_orders_path,class:"　　　glyphicon glyphicon-book" %>
          </li>

          <li>
        　　　　<%= link_to "マイページ", admin_root_path,class:"　　　glyphicon glyphicon-home" %>
          </li>

          <li>
        　　　　<%= link_to "ログアウト", destroy_admin_session_path, method: :delete ,class:"　　　glyphicon glyphicon-log-out" %>
          </li>

              　　<%= form_tag(products_search_path,:method => 'get') do %>
                <%= text_field_tag :search %>
                <%= submit_tag 'Search', :name => nil %>
          <% end %>



        <% else %>


              <li>
                <%= link_to "商品一覧", products_path,class:"glyphicon glyphicon-list-alt" %>
              </li>
             
              <li>
                <%= link_to "ログイン", new_user_session_path, class:"glyphicon glyphicon-log-in" %>
              </li>

              <li>
                <%= link_to "新規登録", new_user_registration_path, class:"glyphicon glyphicon-log-in" %>
              </li>

              　　<%= form_tag(products_search_path,:method => 'get') do %>
                <%= text_field_tag :search %>
                <%= submit_tag 'Search', :name => nil %>
            　　<% end %>



        <% end %>




      </ul>
    </nav>
  </div>
</header>




    <%= yield %>
        <% if session[:user_id] %>
    <li>
    現在ログインしているユーザーのid: <%= session[:user_id] %>
   </li>
    <% end %>

  </body>
</html>
